---
- name: Create IAM Role
  amazon.aws.iam_role:
    name: "{{ role_name }}"
    assume_role_policy_document: |
      {
        "Version": "2012-10-17",
        "Statement": [
          {
            "Effect": "Allow",
            "Principal": {
              "Service": "ec2.amazonaws.com"
            },
            "Action": "sts:AssumeRole"
          }
        ]
      }

- name: Attach SSM Policy
  amazon.aws.iam_policy_attachment:
    name: "SSM-Attach"
    roles:
      - "{{ role_name }}"
    policy_arn: "arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore"

- name: Create Instance Profile
  amazon.aws.iam_instance_profile:
    name: "{{ instance_profile_name }}"
    state: present

- name: Add Role to Instance Profile
  amazon.aws.iam_instance_profile:
    name: "{{ instance_profile_name }}"
    role: "{{ role_name }}"
    state: present
