---
- name: Allocate Elastic IP
  amazon.aws.ec2_eip:
    state: present
    region: "{{ region }}"
  register: eip_output

- name: Associate Elastic IP
  amazon.aws.ec2_eip:
    state: present
    region: "{{ region }}"
    instance_id: "{{ ec2_output.instances[0].instance_id }}"
    public_ip: "{{ eip_output.eip.public_ip }}"
